<mat-card>
  <mat-card-title>Current Account</mat-card-title>
  <mat-card-content>
    <form [formGroup]="accountDetailsForm" class="reg-form">
      <p>
        <mat-form-field disabled="true">
          <input [disabled]="true" matInput type="text" placeholder="Customers Name" formControlName="customerName" id="customerName">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field disabled="true">
          <input matInput type="date" placeholder="DeadLine" formControlName="deadLine" id="deadLine">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field disabled="true">
          <input matInput type="text" placeholder="Items name" formControlName="itemName" id="itemName">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field disabled="true">
          <input matInput type="text" placeholder="Comment" formControlName="comment" id="comment">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field disabled="true">
          <input matInput type="number" placeholder="Price" formControlName="price" id="price">
        </mat-form-field>
      </p>
      <button (click)="navigateBackToList()" mat-raised-button	>Back to list</button>
    </form>
  </mat-card-content>
</mat-card>

